{{ form_start(form) }}
    {{ form_row(form.name, {label: 'Nom'}) }}
    {{ form_row(form.description, {label: 'Description'}) }}
    {{ form_row(form.category, {label: 'Groupe'}) }}
    {{ form_row(form.featuredImage, {label: 'Image à la une'}) }}
    <hr/>
    <fieldset class="form-group">
        <h4>Images</h4>
        <div
            class="images"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for image in form.images %}
                <div class="item mb-1">{{ form_row(image) }}</div>
            {% endfor %}
        </div>
        <button type="button"
            class="btn btn-secondary js-add-item-link mt-2"
            data-collection-holder-class="images">
            Ajouter une image
        </button>
    </fieldset>
    <hr/>
    <fieldset class="form-group">
        <h4>Videos</h4>
        <div
            class="videos"
            data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
            {% for video in form.videos %}
                <div class="item">{{ form_row(video) }}</div>
            {% endfor %}
        </div>
        <button type="button"
            class="btn btn-secondary js-add-item-link mt-2"
            data-collection-holder-class="videos">
            Ajouter une vidéo
        </button>
    </fieldset>
    <hr/>
    
    <button type="submit" class="btn btn-primary btn-lg mt-2">{{ submit|default('Valider') }}</button>

{{ form_end(form) }}